<table class="w-full">
  <!-- footer -->
  <tr>

    <td class="px-[20px] pt-[30px] pb-[20px] align-center-table">
        <table>
          <tr>
            <td>
                <div class="border-t-2 border-b-0 border-x-0 border-black border-solid w-[600px]">
                  <p>&nbsp;</p>
                </div>
            </td>
          </tr>
          <tr>
            <td
              class="text-xs text-primary leading-[28px] px-[30px] text-[#000000] text-center"
            >
            Sed do eiusmod tempor incididunt ut labore
            </td>
          </tr>
          <tr>
            <td class="px-[20px] pt-[15px] align-center-table">
            <x-image class="w-[100px]" imgUrl="image-2.png" href="#" />
            </td>
          </tr>
        </table>
    </td>
  </tr>

</table>
